{{#
	@name Error: 404
	@desc The 404 error template.
#}}

{{# Redirect if current_url is in the Redirects global. #}}
{{ redirects:redirects where="url_old:{current_uri}"}}
    {{ redirect to="{entry:url}" response="{response}" }}
{{ /redirects:redirects }}

{{# Yield a title to the SEO partial. #}}
{{ section:seo_title }}
    404
{{ /section:seo_title }}

<!-- /errors/404.antlers.html -->
<main class="outer-grid bg-errorPage" id="content">
    <div class="container flex flex-col md:flex-row items-center justify-center px-5 ">
        <div class="max-w-md">
           <div class="text-5xl  font-dark font-bold">404</div>
           {{ partial:typography/h1 class="mb-4" :content="configuration:404_title" }}
           {{ partial:typography/paragraph :content="configuration:404_text" }}
       <a 
       href="/"
       class="
       bg-HeaderColer rounded text-white  hover:text-ColorText hover:font-medium py-2 px-2 md:mx-2">back to homepage</a>
 </div>
   <div class="max-w-lg">

       
        {{partial:components/figure :image="configuration:image"}}



    </div>
 
</div>
</main>
<!-- End: /errors/404.antlers.html -->

