{{#
	@name Header
	@desc The sites header rendered on each page.
#}}

<!-- /layout/_header.antlers.html -->

<!-- End: /layout/_header.antlers.html -->

<div class="w-full">
    <nav class="bg-HeaderColer shadow-lg">
        <div class="md:flex items-center justify-between py-2 px-8 md:px-12">
            <div class="flex justify-between items-center">
                {{ partial:components/logo width="120" }}
              
               
            </div>
              {{ partial:navigation/main }}
                
            
        </div>
    </nav>
    
</div>