{{#
	@name Header
	@desc The sites header rendered on each page.
#}}

<!-- /layout/_header.antlers.html -->

<!-- End: /layout/_header.antlers.html -->

    <nav class="bg-HeaderColer shadow-lg  border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800 ">
        <div class="container flex flex-wrap justify-between items-center mx-auto py-2 px-8 ">
            <div class="flex">
                {{ partial:components/logo width="120" }}
              
               
            </div>
              {{ partial:navigation/main }}
                
            
        </div>
    </nav>


