
<section class="bg-backgroundfooter dark:bg-gray-900">
    
       

        <h1 class   ="text-3xl font-semibold text-center text-backgroundBody  capitalize lg:text-4xl">Key Clients </h1>

        <hr class="border-gray-200 my-12 dark:border-gray-700">

        <div class="grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
            {{ collection:key_clint }}
            <div class="flex items-center justify-center col-span-1 md:col-span-2 lg:col-span-1">

                <img src="{{assets}}" alt="">
            </div>
            
            {{/collection:key_clint}}




        </div>
    </div>
</section>
