
{{#
	@name text_with_right_image
	@desc The article page builder block.
    @set page.page_builder._text_with_right_image
#}}

<main class="flex flex-col-reverse sm:flex-row jusitfy-between items-center  p-6">
    
    

    <div class="sm:w-2/5 flex flex-col items-center sm:items-start text-center sm:text-left">
        <h1 class="text-6xl text-title  leading-none tracking-wide mb-4">Umbrella</h1>
            
                {{partial:typography/paragraph :content="paragraph" color="text-TestColor" }}
       
    </div>
    
        <div class="mb-16 sm:mb-0 mt-8 sm:mt-0  sm:w-3/5 sm:pl-12">
           
            {{partial:components/picture  class="rounded-full" :image="assets"   }}
        
        </div>
        
    
</main>



